<div class="odd-and-even-block">
  <div class="odd-and-even-block__wrapper">
    <div class="odd-and-even-block__title">
      {{ rendered_answer }}
    </div>
    <div class="odd-and-even-block__content">
      {{ rendered_node }}
    </div>
  </div>
</div>
